$primary_color: rgb(42, 14, 2);
$white_color: #ffffff;

font-face {
  src: url("../asset/fonts/lato.hairline.ttf");
  font-family: "lato hairline";
}
font-face {
  src: url("../asset/fonts/lato.light.ttf");
  font-family: "lato light";
}
font-face {
  src: url("../asset/fonts/lato.thin.ttf");
  font-family: "lato thin";
}
* {
  box-sizing: border-box;
  font-family: "lato thin", Arial;
}

a {
  text-decoration: none !important;
}
.hover-pointer:hover {
  cursor: pointer;
}
@mixin flex_row {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
}
@mixin flex_column {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
}
@mixin transistion_duration {
  transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
@mixin span_decorate($width, $bgcolor) {
  display: block;
  width: $width;
  height: 5px;
  background-color: $bgcolor;
  margin-left: 0.5em;
  border-radius: 10px;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  @include flex_column();
  height: min-content;
  background-image: linear-gradient(
    to bottom right,
    rgba(105, 54, 40, 1),
    rgb(88, 43, 23)
  );
  padding-top: 40px;
  width: 100%;
}
.navbar {
  @include flex_row();
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.4s ease-in;
  z-index: 999;
  position: relative;
  // @include backgroundTransparent();
}
.navbar--sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 3px rgba(197, 194, 194, 0.9);
  .brand-logo {
    background-color: $primary_color;
  }
  .nav__anchor-links {
    color: $primary_color;
  }
}

.brand-logo {
  width: 263px;
  height: auto;
  outline: none;
  .nav__image{

  }
}
.nav-links {
  @include flex_row();
  width: 50%;
  justify-content: space-around;
  margin-left: 10em;
  align-items: center;
}
.nav-links__div {
  height: min-content;
  &:hover {
    .nav-link-span {
      @include transistion_duration();
      @include span_decorate(30px, $white_color);
    }
    .nav-link-span--backgroundColor {
      @include span_decorate(30px, $primary_color);
    }
  }
}

.nav__anchor-links {
  color: $white_color;
  font-weight: bolder;
  padding: 0.5em;
}
.nav-drop-down {
  display: none;
}
.button--like {
  color: rgb(51, 51, 153) !important;
}
.welcoming {
  @include flex_row();
  justify-content: space-evenly;
  color: $white_color;
  width: 100%;
  margin: auto;
  padding-top: 3em;
  height : 600px;
  align-items: center;
  padding-bottom : 35px;
  // display: none;
}
.welcoming__image{
  height: 500px;
}
.welcoming__text {
  @include flex_column();
  width: 40%;
}

.welcoming--light-size {
  font-weight: lighter;
}
.welcoming__action-links {
  @include flex_row();
  flex-wrap: wrap;
}
.fa--modify-icon {
  font-size: 30px;
  margin: 0 10px 0 5px;
}
.rounded__anchor-link {
  @include flex_row();
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: $white_color;
  color: $white_color;
  border-radius: 30px;
  padding: 0.5em 1em 0.5em 0.5em;
  font-size: 12px;
  text-align: center;
  margin: 0 0.5em 0 0.5em;
  font-weight: bolder;
  width: 40%;
  @include transistion_duration();
  &:hover {
    background-color: $primary_color;
  }
}
.rounded__margin-top {
  margin-top: 1em;
  // font-size: 20px;
}

.main {
  @include flex_column();
}
.main__section {
  padding-top: 20px;
}
.main__section-title {
  text-align: center;
  @include flex_column();
  line-height: 1.5;
  align-items: center;
  .main__span {
    @include span_decorate(60px, $primary_color);
  }
}
.main--modified-heading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}
.main__section-label {
  margin-top: 10px;
  font-size: 25px;
}
.main__div-grid {
  @include flex_row();
  justify-content: space-evenly;
  padding-top: 3em;
  padding-bottom: 3em;
}
.grid__each-cell {
  width: 25%;
}
.grid__cell-image-align {
  display: flex;
  justify-content: center;
  height: auto;
}
.each-cell--vertical {
  @include flex_column();
  justify-content: center;
  text-align: center;
}
.grid--link-alike {
  @include transistion_duration();
  width: min-content;
  margin: auto;
  font-size: 50px;
  padding: 0.7em 0.7em 0.5em 0.7em;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  &:hover {
    background-color: $primary_color;
    color: $white_color;
    cursor: pointer;
  }
}
.each-cell--horizontal {
  @include flex_row();
}
.grid__text {
  width: 60% !important;
}
.grid__image {
  height: 500px;
}
.mod-icon-feature {
  padding: 0.3em 0.3em 0.1em 0.3em;
}
.main__section--feature {
  background-image: url(../asset/images/review__bg.jpg);
  color: $white_color;
  font-weight: bold !important;
  background-repeat: repeat;
  .main__span--color-white {
    background-color: $white_color;
  }
  padding-bottom: 3em;
}
.slider {
  @include flex_column();
  .slider__slider-item:nth-child(1),
  .slider__slider-item:nth-child(2),
  .slider__slider-item:nth-child(3) {
    display: none;
  }
  margin-top: 3em;
  overflow-x: hidden;
}

.slider__slider-item {
  width: 70%;
  margin: auto;
  @include flex_row();
  justify-content: center;
  align-items: center;
}
.slider__testimonial {
  animation: sliderRight 1s;
}
.slider__testimonial--close-animation {
  animation: sliderClose 1s;
  animation-timing-function: ease-in-out;
}
@keyframes sliderRight {
  25% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes sliderClose {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100%);
  }
}

.rounded-image {
  border-radius: 100%;
  object-fit: cover;
  margin-right: 2em;
  height: 110px;
  width: auto;
  border-style: solid;
  border-width: 2px;
}
.chat {
  background-color: $white_color;
  color: $primary_color;
  padding: 10px 20px 20px 50px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgb(161, 224, 245);
}
.chat__quoted-paragraph {
  font-size: 20px;
  font-weight: bolder;
}
.chat__name-ranking {
  display: flex;
  align-items: center;
}
.fa--modified-size {
  font-size: 20px;
  font-weight: bolder;
  margin-right: 0.4em;
}
.slider-trigger {
  align-self: center;
  margin-top: 3em;
}
.slider-trigger-button {
  border-style: solid;
  border-width: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  outline: none;
  -moz-outline-radius: none;
  @include transistion_duration();
  background-color: $primary_color;
  &:hover {
    cursor: pointer;
  }
}

.screens-links {
  @include flex_row();
  justify-content: center;
  margin-top: 1em;
  flex-wrap: wrap;
}

.rounded__anchor--modified {
  color: rgb(133, 125, 125);
  @include transistion_duration();
  border: solid rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  &:hover {
    color: rgb(204, 204, 204);
  }
}
.active-anchor {
  background-color: $primary_color;
  color: rgb(204, 204, 204);
}
.slider-screen {
  margin-top: 2.5em;
  position: relative;
  @include flex_row();
  .slider-screen__button-slide {
    position: absolute;
    align-self: center;
    border: solid rgba(197, 194, 194, 0.9);
    border-radius: 100%;
    color: rgba(197, 194, 194, 0.9);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-slide--left {
    left: 20px;
  }
  .button-slide--right {
    right: 20px;
  }
}
.slider__slider-item--screens {
  justify-content: space-around;
}
.slider__slider-item--screens {
  width: 80%;
}
.phone-image {
  width: 24%;
  text-align: center;
  font-weight: bold;
  @include flex_column();
  .phone-image__each {
    width: 100%;
    margin-bottom: 2em;
  }
}
.single-phone-image {
  @include flex_row();
  justify-content: center;
  margin-top: 2.5em;
  display: none;
}
.mechanics-interface {
  display: none;
}
// .slider__slider-item--screens--first-section:nth-child(3) {
//   display: none;
// }
.slider__slider-item--screens--first-section--second,
.slider__slider-item--screens--second-section--second {
  display: none;
}
.slider__screen-image--animate {
  animation: fadeIn 4s;
}
@keyframes fadeIn {
  from {
    transform: scale(0.9, 0.9);
  }
  to {
    transform: scale(1, 1);
  }
}
.main__section--get-app {
  // @include flex_column();
  padding-top: 130px;
  justify-content: center;
  background-image: url(../asset/images/get_app_bg.jpg);
  background-repeat: repeat;
  height: 700px;
  color: $white_color;
  font-weight: bold !important;
  background-repeat: repeat;
  position: relative;
  .main__section-title {
    z-index: 99;
  }

  .main__span--color-white {
    background-color: $white_color;
  }
  .position-blend {
    position: absolute;
    // object-fit: cover;
    bottom: 0;
    right: 0;
  }
}
.download-links--modify {
  @include flex_row();
  justify-content: center;
  margin-top: 5em;
  z-index: 99;
  flex-wrap: wrap;
  .rounded__anchor-link {
    border-style: solid;
    border-width: 3px;
    padding: 0.2em 1em 0.2em 1em;
    @include flex_row();
    justify-content: space-around;
    width: 200px;
    align-items: center;
    z-index: 99;
    label {
      &:hover {
        cursor: pointer;
      }
    }
    .fa {
      font-size: 40px;
    }
  }
}
.main__section--support {
  padding-bottom: 4em;
}
.div-grid--form-modified {
  justify-content: center;
}
.form {
  @include flex_column();
  width: 50%;
  // justify-items: center;
}
.form__element {
  width: 100%;
  margin: 10px auto 10px auto;
  border: solid rgba(197, 194, 194, 0.9) 2px;
  height: 40px;
  padding-left: 10px;
  border-radius: 25px;
  outline: none;
}
.text-area {
  height: 200px;
  padding-top: 1em;
}
.submit-button {
  width: 100px;
  color: $primary_color;
  font-weight: bolder;
  padding: 5px 0 5px 0;
  margin: 0 auto 0 auto;
  border: solid $primary_color 2px;
  background-color: $white_color;
  border-radius: 25px;
  @include transistion_duration();
  &:hover {
    background-color: $primary_color;
    cursor: pointer;
    color: $white_color;
  }
}
.location {
  width: 30%;
  @include flex_column();
  margin-left: 2em;
}
.location__subsequent-div {
  display: flex;
  margin: 10px 0 10px 0;
  align-items: center;
}
.grid--link-alike--modify {
  width: 80px;
  height: 70px;
  font-size: 40px;
  @include flex_row();
  justify-content: center;
  align-items: center;
}
.location__paragraph {
  margin-left: 10px;
}

.footer {
  @include flex_column();
  background-image: linear-gradient(
    to bottom right,
    rgba(105, 54, 40, 1),
    rgb(88, 43, 23)
  );
  padding: 2em 0 2em 0;
}
.brand-logo--adjust {
  width: min-content;
  @include flex_row();
  justify-content: center;
  margin: auto;
}

.footer-social-media-grid {
  @include flex_row();
  justify-content: center;
  margin: 2em 0 2em 0;
}
.social-media__link {
  margin: 0 15px 0 0px;
  text-decoration: none;
  color: $white_color;
  font-size: 30px;
  border: solid rgba(197, 194, 194, 0.9);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  @include flex_column();
  justify-content: center;
  align-items: center;
  @include transistion_duration();
  &:hover {
    background-color: $white_color;
    color: rgb(255, 94, 94);
  }
}

.footer__text {
  margin: 0;
  text-align: center;
  color: $white_color;
  font-weight: bold;
}
@media screen and (max-width: 999px) {
  .welcoming__landing-banner {
    font-size: 40px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .welcoming__landing-banner {
    margin: 0;
    font-size: 65px;
    line-height: 92px;
  }

  .rounded__anchor-link {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) {
  .welcoming--mobile-view {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .nav-links {
    width: 70%;
    margin-left: 1em;
  }
}
@media screen and (max-width: 900px) {
  // justify-content: center;
  .brand-logo {
    width: 30%;
    .nav__image {
      // width: 100%;
    }
  }
  .welcoming__action-links {
    line-height: 1.5;
  }
  .welcoming {
    width: 100%;
  }
  .welcoming__image {
    width : auto;
  }
  .welcoming__text {
    width: 40%;
    padding: 0;
    padding-top: 40px;
  }
  .rounded__anchor-link{
    width : 100%;
    margin-bottom: 1em;
  }
  .grid__each-cell {
    width: 29%;
  }
  .grid__image {
    object-fit: contain;
    margin: 0 20px 0 20px;
    width: 200px;
    max-width: 400px;
  }
  .main__div-grid {
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .grid__each-cell {
    margin-bottom: 10px;
    p {
      font-size: 12px;
    }
  }
  .grid__each-sub-cell {
    margin-top: 1em;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    font-size : 12px;
  }
  .mod-icon-feature {
    margin: auto;
    height: 50px;
    width: 50px;
    font-size: 20px;
    @include flex_row();
    justify-content: center;
    align-items: center;
  }
  .slider__slider-item {
    flex-wrap: wrap;
    .rounded-image {
      margin-bottom: 0.5em;
    }
  }
  .chat {
    width: 100%;
  }
  .position-blend {
    display: none;
  }
  .div-grid--form-modified {
    flex-wrap: wrap;
  }
  .form {
    width: 100%;
    padding-left: 20px;
    padding-right:20px;
  }
  .location {
    width: 90%;
    margin:auto
  }
  .grid--link-alike--modify {
    padding: 12px;
    margin: 0 20px 0 0;
  }

  .footer__text {
    padding: 0 30px 0 30px;
  }
  .nav-links {
    position: absolute;
    bottom: -390px;
    /* flex-direction: row; */
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(42, 14, 2, 0.7);
    // transition-duration: 1s;
    .nav-links__div {
      width: 100%;
      border: solid 1px;
      border-color: rgba(197, 194, 194, 0.9);
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 25px;
      // z-index: -999;
      .nav-link-span {
        display: none;
      }
      .button--like {
        background: transparent;
        color: $white_color !important;
        padding: 8px;
      }
      .nav__anchor-links {
        color: $white_color;
      }
    }
    .nav__anchor-links {
      // border: solid 1px;
      // border-color: rgba(197, 194, 194, 0.9);

      width: 100%;
    }
  }
  .link-animate {
    display: flex;
    animation: linkanimate 1s;
  }
  .link-animate-close {
    animation: linkanimateterminate 1s;
    display: flex !important;
  }
  .navbar {
    justify-content: space-between;
    // position: absolute;
  }
  .nav-drop-down {
    display: flex;
    margin-right: 20px;
    font-size: 20px;
    color: $white_color;
    border: solid $white_color;
    padding: 0.5em;
  }
  .navbar--sticky {
    background-color: $primary_color;
    padding: 15px 0 15px 0;
    .nav-links {
      bottom: -375px;
    }
  }
  .brand-logo {
    margin-left: 20px;
  }

  @keyframes linkanimate {
    from {
      bottom: -400px;
      z-index: -99999999 !important;
      opacity: 0;
    }
    to {
      bottom: -375px;
      opacity: 1;
    }
  }
  @keyframes linkanimateterminate {
    from {
      bottom: -375px;
      opacity: 1;
    }
    to {
      bottom: -400px;
      z-index: -99999999 !important;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  
  .nav-links {
    display: none;
  }
  // .main__div-grid {
  //   flex-wrap: wrap;
  // }
  .slider-screen {
    .phone-image:nth-child(3),
    .phone-image:nth-child(4) {
      display: none;
    }
  }
  .phone-image {
    width: 45%;
  }
  .footer__brand-image {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .welcoming {
    display: none;
  }
  .welcoming--mobile-view {
    @include flex_column();
    padding: 15px 0 50px 0;
  }
  .welcoming__landing-banner {
    margin: 0;
    line-height: 1.5;
    text-align: center;
    color: $white_color;
    font-weight: bolder;
    font-size: 34px;
    word-wrap: break-all;
    padding-left: 10px;
    padding-right: 10px;
    // font-family: Arial;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
  }
  .welcoming__action-links {
    justify-content: space-around;
  }
  .rounded__anchor-link {
    font-size: 18px;
    border-radius: 3em;
  }
  .welcoming__image--modify {
    @include flex_row();
    justify-content: center;
    margin: 12px 0 12px 0;
  }
  .welcoming__image--image-mod {
    object-fit: contain;
    width: 180px;
  }
  .div-grid--about {
    flex-wrap: wrap;
    width: 100%;
    h3 {
      font-size: 26px;
      margin: 0;
      margin-top: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  .grid__each-cell {
    width: 100% !important;
  }
  .grid__text {
    h3 {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 510px) {
  .main__section-label {
    padding-left: 10px;
    padding-right: 10px;
  }
  .screens-links {
    flex-wrap: wrap;
  }
  .phone-image {
    width: 35% !important;
  }
  .rounded__anchor--modified {
    margin-bottom: 10px;
  }
  .main__div-grid {
    padding-top : 1em;
    padding-bottom: 1em;
  }
  .grid__each-cell{
    width : 33%;
  }
  .grid__image{
    width: 100%;
  }
  .grid__each-sub-cell{
    margin-bottom : 1.5em;
    flex-direction: column;
  }
  .grid__text{
    text-align: center;
    margin-bottom: 0;
    p{
      display: none;
    }
  }
  .mod-icon-feature{
    width: 30px;
    height : 30px;
  }
  .button-slide--left {
    left: 7px !important;
  }
  .button-slide--right {
    right: 7px !important;
  }
}
