* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.main--modified-heading {
  margin-bottom: 10px;
}

.shop-nav {
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom right, #693628, #582b17);
  height: 120px;
  padding: 0 50px 0 50px;
  width: 100%;
}

.shop-nav__image {
  width: auto;
}

.button--like {
  color: black;
}

.shop-nav__link {
  font-weight: bolder;
  padding: 0.5em;
  justify-content: center;
  width: 200px;
}

@media screen and (max-width: 600px) {
  .shop-nav {
    height: 200px;
    flex-wrap: wrap;
  }

  .shop-nav__link {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .shop-nav__image {
    width: 100%;
    object-fit: contain;
  }

  .shop-nav__link {
    width: 100%;
  }
}
.main {
  padding: 2em inherit 2em inherit;
  height: auto;
  position: relative;
}

.main__link-navigator-trigger {
  position: absolute;
  top: 12px;
  height: min-content;
  font-size: 20px;
  color: #2a0e02;
  left: 40px;
  display: none;
}

.main__link-navigator-trigger-close {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  display: none;
}

.main__span {
  transition-duration: 1s;
  display: block;
  width: 60px;
  height: 5px;
  background-color: #2a0e02;
  border-radius: 10px;
}

.unordered-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.item-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid rgba(197, 194, 194, 0.9) thin;
  color: black;
  font-weight: bold;
}

.category__button {
  width: 100%;
  height: 100%;
  background: inherit;
  text-align: left;
  padding: 10px 0 10px 10px;
  transition-duration: 0.4s;
  outline: none;
}

.category__button:hover {
  background-color: #2a0e02;
  color: white;
  outline: none;
}

.category-all__header {
  justify-content: space-between;
}

.category-all__header-form {
  align-items: center;
}

button {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.button-reset {
  background-color: #2a0e02;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: bolder;
  height: min-content;
  padding: 7px 30px 7px 30px;
  margin-right: 10px;
  border-radius: 10px;
}

.icon-search {
  background-color: transparent;
}

.category-all__search-field {
  display: none;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.search-input {
  border-radius: 10px;
  border: solid rgba(197, 194, 194, 0.9) thin;
  outline: none;
  padding: 5px 10px;
  width: 50%;
  color: black;
  font-weight: bolder;
}

.category-all__item-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.category-all__each-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid rgba(197, 194, 194, 0.9) thin;
  transition-duration: 1s;
  position: relative;
  z-index: 99;
}

.category-all__each-item:hover .send-message {
  display: flex;
}

.category-all__each-item--hover:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.category-all__each-item-image-div {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-all__each-item-image {
  width: 50%;
  margin: auto;
  object-fit: contain;
}

.category-all__each-item-text-container {
  padding: 20px 15px 20px 15px;
}

.category-all__each-item-text-container * {
  text-transform: uppercase;
}

.category-all__each-item-text {
  font-weight: bolder;
  font-size: 14px;
}

.category-all__each-label {
  color: rgba(73, 0, 0, 0.671);
  font-weight: bold;
}

.send-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  animation: messageslide 0.4s ease-in-out;
  background-color: rgba(42, 14, 2, 0.9);
  display: none;
  height: 100%;
}

.message-button {
  width: min-content;
  background-color: unset;
  color: #ffffff;
}

@keyframes messageslide {
  from {
    height: 50%;
  }
  to {
    height: 100%;
  }
}
@keyframes slideleft {
  from {
    left: -100px;
  }
  to {
    left: 0 px;
  }
}
@keyframes slideback {
  from {
    left: 0px;
  }
  to {
    left: -300px;
  }
}
@media screen and (min-width: 800px) {
  .main {
    padding: 2em 50px 2em 50px;
    justify-content: space-between;
  }

  .main__category {
    width: 30%;
  }

  .main__category-all {
    width: 65%;
  }
}
@media screen and (min-width: 1000px) {
  .category-all__each-item {
    width: 30%;
  }

  .main__category {
    width: 25%;
  }

  .main__category-all {
    width: 70%;
  }
}
@media screen and (max-width: 999px) {
  .category-all__each-item {
    width: 45%;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 800px) {
  .main {
    padding: 2em 10px 2em 10px;
    justify-content: space-between;
  }

  .main__category {
    width: 25%;
  }

  .main__category-all {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .main__link-navigator-trigger {
    display: block;
  }

  .main__link-navigator-trigger-close {
    display: block;
  }

  .main__category {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    z-index: 999;
    background-color: #582b17;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    animation: slideleft ease-in-out 0.4s;
    transition: all ease-in-out 4s;
  }

  .slideback {
    animation: slideback ease-in-out 0.4s;
    transition: all ease-in-out 4s;
  }

  .category-all__each-item {
    width: 90%;
  }

  .category__button {
    color: #ffffff;
  }

  .main__category-all {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 360px) {
  .main__category {
    width: 100%;
  }
}
/*# sourceMappingURL=shop.scss.map */

/*# sourceMappingURL=shop.css.map */
